/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 20px 0px 20px;
	text-align: center;
}

#logout {
	font-size: 12px;
	text-align: right;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

.gwt-Button {
	white-space: nowrap;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.navigation {
	cursor: pointer;
	padding: 5px;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 10px;
}

.actions {
	padding: 10px;
}

.actions td {
	padding: 1px;
}

.course {
	padding: 10px;
	border: solid silver thin;
	width: 100%;
	color: #3E3E3E;
}

.course .course-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.course a.course-title {
	color: #3E3E3E;
	cursor: pointer;
}

.course .course-status,.course .course-words {
	font-size: 12px;
	color: #BBB;
	margin-left: 5px;
	margin-top: 5px;
}

.translationColumn {
	white-space: pre-line;
}

.trainingWidget {
	color: #3E3E3E;
	margin: 20px;
	width: 600px;
}

.trainingButton {
	margin: 50px;
}

.trainingButton {
	margin: 50px;
	margin-bottom: 20px;
}

.trainingTimer,.trainingCounter {
	font-size: 48px;
	color: #CCC;
}

.answerField {
	font-family: "Times New Roman", "Times", "Kai", "KaiTi", Serif;
	font-size: 2em;
	width: 400px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 15px;
	margin: 10px;
}

.answerField:focus {
	outline: none;
}

.answerField.right {
	color: white;
	background-color: #8BC14A;
}

.answerField.wrong {
	color: white;
	background-color: #E44E5A;
}

.value-main {
	font-family: "Times New Roman", "Times", "Kai", "KaiTi", Serif;
	font-size: 4em;
	padding: 5px;
	white-space: nowrap;
}

.value-second {
	font-family: "Times New Roman", "Times", "Kai", "KaiTi", Serif;
	font-size: 2em;
	padding: 5px;
	white-space: nowrap;
}

.value-second.invisible {
	opacity: 0.0;
}

.additional {
	font-size: 12px;
	color: #999;
	padding: 5px;
}

.translation {
	font-size: 1.2em;
	padding: 5px;
	white-space: pre-line;
}