<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Filters -->
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>coursesServlet</servlet-name>
		<servlet-class>ru.abelitsky.memorize.server.CoursesServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>coursesServlet</servlet-name>
		<url-pattern>/memorize/courses</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>trainingServlet</servlet-name>
		<servlet-class>ru.abelitsky.memorize.server.TrainingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>trainingServlet</servlet-name>
		<url-pattern>/memorize/training</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Memorize.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>